<h1 align="left" style="color: #00B7FF">{{name}}</h1>
<h3>City: {{city}}</h3>
<form method="post" action="/cinemas/{{name}}">
    <input type="hidden" name="name" value="{{name}}">
    New Theater: <input type="text" name="theaterName">
    Number of rows: <input type="text" name="numbOfRows">
    Seats per row: <input type="text" name="seats">
    <button id="th" value="click" class="alert-success">+</button>
</form>
<table>
    <h3>Rooms:</h3>
    {{#each rooms}}
        <tr>
            <td>
                <a href="/cinemas/{{../name}}/{{name}}?page=1">
                    {{name}}
                </a>

            <td>
                <form method="post" action="/cinemas/{{../name}}/{{name}}/delete">
                    <input type="hidden" name="cinemaName" value="{{../name}}">
                    <input type="hidden" name="roomName" value="{{name}}">
                    <input type="hidden" name="nRoom" value="{{number_room}}">
                    <button id="deleteRoom" value="click" class="alert-danger">x</button>
                </form>
            </td>
            <td>

                <form method="post"
                      action="/cinemas/{{../name}}/{{name}}/editTheater">
                    Rename Room:<input type="text" name="newName">
                    <input type="hidden" name="cinemaName" value="{{../name}}">
                    <input type="hidden" name="oldRoomName" value="{{name}}">
                    <button id="editRoom" value="click">Edit Theater</button>
                </form>
                </form>
            </td>
            </td>
        </tr>
    {{/each}}
</table>