<h2 style="color: white" align="right"><b style="color: mediumslateblue">Cinema: </b>{{cinemas.cinemaName}}</h2>
<br>
<h3 style="color: white" align="center"><b style="color: royalblue">Theater: </b>{{cinemas.name}}</h3>
<br>
<h4 class="h" style="color: white" align="left"><b style="color: lightskyblue; padding-left: 30px">Number of
    room: </b>{{cinemas.number}}</h4>


<h4 style="color: white; display: inline-block"><b style="color: lightskyblue; padding-left: 30px">Number of
    row: </b>{{cinemas.rows}}

      <!-- {  <form style="display: inline-block; padding-left: 60px" type="hidden" method="post"
              action="/cinemas/{{cinemas.cinemaName}}/{{cinemas.name}}/{{cinemas.number}}/editNumberOfRows">
            Change room number:<input style="color: black" type="text" name="newNumbRow" value="{{newNumbRow}}">
            <input type="hidden" name="cinName" value="{{cinemas.cinemaName}}">
            <input type="hidden" name="roomName" value="{{cinemas.name}}">
            <input type="hidden" name="roomNumb" value="{{cinemas.number}}">
            <button class="button1" id="editRows" value="click">Edit number of row</button>
        </form>-->

</h4>


<h4 style="color: white" align="left"><b style="color: lightskyblue; padding-left: 30px">Seats per of
    row </b>{{cinemas.seats}}
    <!--
      <form style="display: inline-block; padding-left: 55px" type="hidden" method="post"
              action="/cinemas/{{cinemas.cinemaName}}/{{cinemas.name}}/{{cinemas.number}}/editSeats">
            Change room number:<input style="color: black" type="text" name="newValSeats" value="{{newValSeats}}">
            <input type="hidden" name="cinName" value="{{cinemas.cinemaName}}">
            <input type="hidden" name="roomName" value="{{cinemas.name}}">
            <input type="hidden" name="roomNumb" value="{{cinemas.number}}">
            <button class="button1" id="editSeats" value="click">Edit seats per row</button>
        </form>
    -->
</h4>


<h2 style="color: white" align="left"><b style="color: powderblue">Sessions: </b></h2>

<table class="table-bordered" STYLE="margin: 30px">
    {{#each cinemas.sessions}}
        <tr>

            <td>
                <form action="/cinemas/{{../cinemas.cinemaName}}/{{../cinemas.name}}/session">
                    <input type="hidden" name="date" value="{{date}}">
                    <input type="hidden" name="hour" value="{{hour}}">
                    <button style="color: deepskyblue" class="btn-link" id="delete" value="click"><b
                            style="color: white">Day: </b>{{date}} <b style="color: white">- Hour:</b>{{hour}}</button>
                </form>

            </td>
            {{#if ../menuState.user}}
                <td>
                    <form method="post"
                          action="/cinemas/{{../cinemas.cinemaName}}/{{../cinemas.name}}/{{movie_id}}/delete">
                        <input type="hidden" name="cinName" value="{{../cinemas.cinemaName}}">
                        <input type="hidden" name="roomName" value="{{../cinemas.name}}">
                        <input type="hidden" name="numberRoom" value="{{../cinemas.number}}">
                        <input type="hidden" name="cinemaSessionMovieID" value="{{movie_id}}">
                        <button class="alert-danger" id="delete" value="click">x</button>
                    </form>
                </td>
            {{/if}}
        </tr>
    {{/each}}
</table>

{{#if menuState.user}}
    <div>
        <h2 style="color: #8fcafe">Movies in Theaters</h2>
        <table>
            {{#each cinemas.movies}}
            <tr>
                <br>
                <a href='../../movies/{{id}}'><b style="color:white; font-size: 15px">{{original_title}}</b></a>
                <br>

                <form method="post" action="/cinemas/{{../cinemas.cinemaName}}/{{../cinemas.name}}">
                    <input type="hidden" name="cinName" value="{{../cinemas.cinemaName}}">
                    <input type="hidden" name="name" value="{{../cinemas.name}}">
                    <input type="hidden" name="numberRoom" value="{{../cinemas.number_room}}">
                    <b style="color: cornflowerblue;  padding-left: 20px">Date DD-MM-YYYY:</b><input
                        style="color: black"
                        type="text"
                        name="date">
                    <b style="color: cornflowerblue;  padding-left: 20px">Hour HH'h'MM</b><input style="color: black"
                                                                                                 type="text"
                                                                                                 name="hour">
                    <input type="hidden" name="movie" value="{{original_title}}">
                    <input type="hidden" name="id" value="{{id}}">
                    <input class="alert-success" type="submit" id="sess" value="+">
                </form>

                <br>

            {{/each}}
        </table>
        <br>
        {{#if cinemas.previousPage}}
            <a class="buttonPage" href="?page={{cinemas.previousPage}}"> previous page </a>
        {{/if}}

        {{#if cinemas.nextPage}}
            <a class="buttonPage" href="?page={{cinemas.nextPage}}"> next page </a>
        {{/if}}
    </div>
{{/if}}