
<h1 align="center" style="color: deepskyblue"><b>{{cinemas.name}}</b></h1>
<h3 style="color: white"><b style="color: lightskyblue">City:</b> {{cinemas.city}}</h3>

<table>
    <h3><b style="color: lightskyblue">Rooms:</b></h3>
    {{#each cinemas.rooms}}
        <tr>
            <td>
                <a style="color: white; padding-left: 20px" href="/cinemas/{{../cinemas.name}}/{{name}}?page=1">
                    <b>{{name}}</b>
                </a>
            {{#if ../menuState.user}}
            <td>
                <form method="post" action="/cinemas/{{../cinemas.name}}/{{name}}/delete">
                    <input type="hidden" name="cinemaName" value="{{../cinemas.name}}">
                    <input type="hidden" name="roomName" value="{{name}}">
                    <input type="hidden" name="nRoom" value="{{number_room}}">
                    <button id="deleteRoom" value="click" class="alert-danger">x</button>
                </form>
            </td>

            <td>

                <form method="post"
                      action="/cinemas/{{../cinemas.name}}/{{name}}/editTheater" style="color: cornflowerblue; padding-left: 20px">
                    <b>Rename Room: </b><input style="color: black" type="text" name="newName">
                    <input type="hidden" name="cinemaName" value="{{../name}}">
                    <input type="hidden" name="oldRoomName" value="{{name}}">
                    <button id="editRoom" value="click" class="button1">Edit Theater</button>
                </form>

            </td>
    {{/if}}
        </tr>
    {{/each}}
</table>
<br>
{{#if menuState.user}}
    <form method="post" action="/cinemas/{{cinemas.name}}" style="color: cornflowerblue;  padding-left: 20px">
        <input type="hidden" name="name" value="{{name}}">
        <b>New Theater: </b><input style="color: black" type="text" name="theaterName">
        <b>Number of rows: </b><input style="color: black" type="text" name="numbOfRows">
        <b>Seats per row: </b><input style="color: black" type="text" name="seats">
        <button id="th" value="click" class="alert-success">+</button>
    </form>
{{/if}}